<h1>Final Machine Learning Project</h1>
<h3>This is a automated project which prompts the user for the dataset and this model suggests wheather to perform the</h3>
<ul>
    <li>Regression</li>
    <li>Classification</li>
    <li>Clustering</li>
</ul>
<h3 style="color:red;">Note:</h3>
<p>This model is tested and trained only under CSV files so make sure that your file is CSV</p>

<h3>Importing libraries</h3>

In [2]:
import streamlit as st
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.metrics import accuracy_score, mean_squared_error
import numpy as np

<h3>Step 1: Get the data set</h3>

In [5]:
df=pd.read_csv(r"C:\Users\thris\OneDrive\Desktop\Machine Learning Lab\Machine Learning Project\Final-Project\laptop_data_cleaned.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1273 entries, 0 to 1272
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Company      1273 non-null   object
 1   TypeName     1273 non-null   object
 2   Ram          1273 non-null   int64
 3   Weight       1273 non-null   float64
 4   Price        1273 non-null   float64
 5   TouchScreen  1273 non-null   int64
 6   Ips          1273 non-null   int64
 7   Ppi          1273 non-null   float64
 8   Cpu_brand    1273 non-null   object
 9   HDD          1273 non-null   int64
 10  SSD          1273 non-null   int64
 11  Gpu_brand    1273 non-null   object
 12  Os           1273 non-null   object
dtypes: float64(3), int64(5), object(5)
memory usage: 129.4+ KB

In [6]:
df.describe()

,Ram,Weight,Price,TouchScreen,Ips,Ppi,HDD,SSD
count,1273.000000,1273.000000,1273.000000,1273.000000,1273.000000,1273.000000,1273.000000,1273.000000
mean,8.447761,2.041100,10.828218,0.146897,0.279654,146.950812,413.715632,186.252946
std,5.098771,0.669241,0.619565,0.354142,0.449006,42.926775,518.054486,186.531571
min,2.000000,0.690000,9.134616,0.000000,0.000000,90.583402,0.000000,0.000000
25%,4.000000,1.500000,10.387379,0.000000,0.000000,127.335675,0.000000,0.000000
50%,8.000000,2.040000,10.872255,0.000000,0.000000,141.211998,0.000000,256.000000
75%,8.000000,2.310000,11.287447,0.000000,1.000000,157.350512,1000.000000,256.000000
max,64.000000,4.700000,12.691441,1.000000,1.000000,352.465147,2000.000000,1024.000000

In [7]:
df.head(5)

,Company,TypeName,Ram,Weight,Price,TouchScreen,Ips,Ppi,Cpu_brand,HDD,SSD,Gpu_brand,Os
0,Apple,Ultrabook,8,1.37,11.175755,0,1,226.983005,Intel Core i5,0,128,Intel,Mac
1,Apple,Ultrabook,8,1.34,10.776777,0,0,127.677940,Intel Core i5,0,0,Intel,Mac
2,HP,Notebook,8,1.86,10.329931,0,0,141.211998,Intel Core i5,0,256,Intel,Others
3,Apple,Ultrabook,16,1.83,11.814476,0,1,220.534624,Intel Core i7,0,512,AMD,Mac
4,Apple,Ultrabook,8,1.37,11.473101,0,1,226.983005,Intel Core i5,0,256,Intel,Mac

In [8]:
def preprocess_data(df):
    df = df.dropna()

    # Encode categorical variables
    for col in df.select_dtypes(include=['object', 'category']).columns:
        df[col] = LabelEncoder().fit_transform(df[col])

    # Scale numerical features
    scaler = StandardScaler()
    numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns
    df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

    return df

In [9]:
df=preprocess_data(df)

In [12]:
def correlation_analysis(df, threshold=0.9):
    # Compute the correlation matrix
    corr_matrix = df.corr().abs()

    # Visualize the correlation heatmap
    plt.figure(figsize=(10, 8))
    sns.heatmap(corr_matrix, annot=True, cmap='coolwarm', linewidths=0.5)
    plt.title('Correlation Matrix')
    plt.show()

    # Identify the upper triangle of the correlation matrix
    upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(bool))

    # Find features with correlation greater than the threshold
    to_drop = [column for column in upper.columns if any(upper[column] > threshold)]

    # Drop highly correlated features
    df_reduced = df.drop(to_drop, axis=1)

    return df_reduced

In [13]:
correlation_analysis(df)

C:\Users\thris\AppData\Local\Temp\ipykernel_21384\3966356794.py:9: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

,Company,TypeName,Ram,Weight,Price,TouchScreen,Ips,Ppi,Cpu_brand,HDD,SSD,Gpu_brand,Os
0,1,4,-0.087852,-1.003171,0.561156,-0.414960,1.604943,1.865121,2,-0.798909,-0.312418,1,0
1,1,4,-0.087852,-1.048016,-0.083060,-0.414960,-0.623075,-0.449147,2,-0.798909,-0.998899,1,0
2,7,3,-0.087852,-0.270711,-0.804569,-0.414960,-0.623075,-0.133741,2,-0.798909,0.374062,1,1
3,1,4,1.481770,-0.315556,1.592481,-0.414960,1.604943,1.714844,3,-0.798909,1.747024,0,0
4,1,4,-0.087852,-1.003171,1.041273,-0.414960,1.604943,1.865121,2,-0.798909,0.374062,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1268,2,3,-0.872663,0.237527,-0.440743,-0.414960,-0.623075,-1.083576,3,0.166620,-0.998899,2,2
1269,10,0,-0.872663,-0.360400,-0.636695,2.409873,1.604943,0.242361,3,-0.798909,-0.312418,1,2
1270,10,0,1.481770,-1.107809,0.742581,2.409873,1.604943,3.008692,3,-0.798909,1.747024,1,2
1271,10,3,-1.265069,-0.808845,-2.291112,-0.414960,-0.623075,-0.816026,4,-0.798909,-0.998899,1,2
1272,7,3,-0.480258,0.222579,-0.345684,-0.414960,-0.623075,-1.083576,3,1.132149,-0.998899,0,2